* {
  margin: 0%;
  padding: 0%;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  line-height: 1.5;
  padding: 0;
  background-color: #f4f4f4;
}

p {
  margin: auto;
  padding: 0.5em;
}

.container {
  width: 90%;
  margin: auto;
  overflow: hidden;
}

ul {
  margin: 0;
  padding: 0;
}

.button_1 {
  height: 38px;
  background: #28638e;
  border: none;
  padding: 0 20px 0 20px;
  color: #ffffff;
  border-radius: 4px;
  outline: none;
  border: none;
}

.dark {
  padding: 20px;
  color: #000000;
  margin-top: 10px;
  margin-bottom: 10px;
}

/*header*/

header {
  background-color: #69bfea;
  color: #ffffff;
  padding-top: 30px;
  min-height: 70px;
  border-bottom: solid white;
}

header a {
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  font-family: ntse Arial, Helvetica, sans-serif;
  font-size: 16px;
}

header ul {
  margin: 0;
  padding: 0;
}

header li {
  float: left;
  display: inline;
  padding: 1em 3em 1em 3em;
}

header #branding {
  float: left;
}

header #branding h1 {
  margin: 0;
}

header nav {
  float: right;
  margin-top: 25px;
}

header .highlight,
header .current a {
  color: navy;
  font-weight: bold;
}

hr.solid {
  border-top: 3px solid #bbb;
  border-color: #28638e;
}

h1.page-title {
  font-family: Georgia, "Times New Roman", Times, serif;
  color: #28638e;
  font-size: 60px;
}

h3 {
  font-size: 20px;
}

a:hover {
  color: #28638e;
  transition: 1s ease-out;
}

#main h1 {
  font-size: 60px;
}

#showcase p {
  font-size: 20px;
}

article#main-col {
  float: left;
  width: 100%;
}

.clear {
  clear: both;
}

/* footer */

.footer-container {
  background-color: #69bfea;
}

.footer {
  width: 90%;
  height: 10em;
  background-color: #69bfea;
  color: white;
  margin: 0 auto;
}

.footer-heading {
  margin-right: 4em;
  padding-top: 50px;
}

.footer-1 {
  float: left;
  width: 28%;
  padding-right: 10px;
  text-align: center;
}

.footer-1 img {
  margin-right: 10px;
}

.footer-1 input {
  width: 200px;
  height: 38px;
  border-radius: 4px;
  outline: none;
  border: none;
  font-size: 15px;
}

.footer-1 button {
  border-radius: 4px;
}

.footer-2 {
  float: left;
  width: 29%;
  padding-left: 120px;
  padding-bottom: 25px;
}

.footer-3 {
  float: left;
  width: 28%;
  padding-left: 240px;
}

.footer-heading a {
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  margin-bottom: 3px;
}

.footer-heading a:hover {
  color: #28638e;
}

.footer-nav {
  display: flex;
  flex-direction: column;
}

.footer-bottom {
  text-align: center;
  color: gray;
}

.footer-bottom a {
  text-decoration: none;
  color: gray;
}

/*image carousel*/

.slidershow {
  width: 700px;
  height: 400px;
  margin: 25px auto;
  overflow: hidden;
}

.navigation {
  position: relative;
  bottom: 30px;
  left: 80%;
  transform: translateX(-50%);
  display: flex;
}

.bar {
  width: 50px;
  height: 10px;
  border: 2px solid #fff;
  margin: 6px;
  cursor: pointer;
  transition: 0.4s;
}

.bar:hover {
  background: #fff;
}

input[name="r"] {
  position: absolute;
  visibility: hidden;
}

.slides {
  width: 500%;
  height: 100%;
  display: flex;
}

.slide {
  width: 20%;
  transition: 0.6s;
}

.slide img {
  width: 100%;
  height: 100%;
}

#r1:checked ~ .s1 {
  margin-left: 0;
}

#r2:checked ~ .s1 {
  margin-left: -20%;
}

#r3:checked ~ .s1 {
  margin-left: -40%;
}

#r4:checked ~ .s1 {
  margin-left: -60%;
}

#r5:checked ~ .s1 {
  margin-left: -80%;
}

/*donation page*/

.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0 -16px;
  margin-right: 20px;
}

.col-25 {
  -ms-flex: 25%;
  flex: 25%;
}

.col-50 {
  -ms-flex: 50%;
  flex: 50%;
}

.col-75 {
  -ms-flex: 75%;
  flex: 75%;
}

.col-25,
.col-50,
.col-75 {
  padding: 0 16px;
}

input[type="text"] {
  width: 100%;
  margin-bottom: 20px;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

label {
  margin-bottom: 10px;
  display: block;
}

.icon-container {
  margin-bottom: 20px;
  padding: 7px 0;
  font-size: 24px;
}

.btn {
  background-color: grey;
  color: black;
  padding: 12px;
  margin: 10px 0;
  border: none;
  width: 50%;
  border-radius: 3px;
  cursor: pointer;
  font-size: 17px;
}

.btn:hover {
  background-color: rgb(92, 92, 92);
}

span.price {
  float: right;
  color: grey;
}

hr.solid_2 {
  border-top: 3px solid #bbb;
  border-color: #28638e;
  width: 100%;
}

#donation h3 {
  text-align: left;
}

#donation p {
  padding-right: 9em;
  padding-top: 1em;
  text-align: left;
  position: absolute;
}

#outer {
  width: 100%;
  text-align: center;
}

.button {
  background-color: lightgrey;
  color: black;
  padding: 12px;
  margin: 5px;
  border: none;
  width: 10%;
  border-radius: 3px;
  cursor: pointer;
  font-size: 17px;
  display: inline-block;
}

.button:hover {
  background-color: #b4b4b4;
}

.button:focus {
  background-color: #b4b4b4;
  background-color: #b4b4b4;
}

.clear {
  clear: both;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 16px 10px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 180px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-transform: capitalize;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

/*Submit Your Story Page*/

input[type="text"],
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
}

input[type="submit"] {
  background-color: #b4b4b4;
  color: black;
  padding: 24px 60px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-bottom: 3em;
}
